<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light footer-shadow">
    <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2022<a class="ms-25" href="https://t.me/si_yas_mi" target="_blank">.Seif Elislam H</a>
        <span class="d-none d-sm-inline-block">, All rights Reserved</span></span>
        <span class="float-md-end d-none d-md-block">.Seif Elislam H<i data-feather="heart"></i></span></p>
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
<!-- END: Footer-->