<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
                <!-- profile -->
                <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">اظافة طلب جديد</h4>
                </div>
                <div class="card-body py-2 my-25">

                    <!-- form -->
                    <form class="validate-form mt-2 pt-50">
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="game">اللعبة</label>
                                <select id="gameName" class="select2 form-select" required>
                                    <option value="">اختيار اللعبة</option>
                                    <% for(var i = 0; i < games.length; i++) { %>
                                        <option value="<%- games[i].game_code %>"><%- games[i].game_name %></option>
                                    <% } %>
                                </select>
                                <label class="form-label" for="game" id="gameError" style="color: red;"></label>
                            </div>
                            <!--<div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="server">طريقة الشحن</label>
                                <select id="typeOrder" class="select2 form-select">
                                    
                                </select>
                            </div>-->


                            <div class="col-12 col-sm-6 mb-1 zoneID">
                                <label class="form-label" for="Zone ID"> Zone ID</label>
                                <input type="text" class="form-control" id="zoneId" placeholder="" value="" data-msg="Please enter Game id"/>
                                <label class="form-label" for="zone_id_error" style="color: red;"></label>
                            </div>

                            <div class="col-12 col-sm-6 mb-1 server">
                                <label class="form-label" for="server">السرفر</label>
                                <select id="server" class="select2 form-select">
                                </select>
                                <label class="form-label" for="server_error" style="color: red;"></label>
                            </div>
                            <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="ID">ID</label>
                                <input type="text" class="form-control" id="userId" placeholder="" value="" data-msg="Please enter Game id"/>
                                <label class="form-label" for="id_error" style="color: red;"></label>
                            </div>
                            <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="Diamonds">Diamonds</label>
                                <select id="diamonds" class="select2 form-select">
                                    <option value="">Choose Diamonds</option>
                                </select>
                                <label class="form-label" for="diamonds_error" style="color: red;"></label>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary mt-1 me-1" id="addOrder">اظافة طلب</button>
                                <label for="full error" id="error_full"></label>
                            </div>
                        </div>
                    </form>
                    <!--/ form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->